body{
    background-color: rgb(121, 159, 178);
}






























header{
    text-align: center;
    border-style: dashed;
    background-color: rgb(176, 75, 75);
}